<{if isset($block.rows)}>
<ul>
  <{foreach from=$block.rows item=ent}>
  <li><a href="<{$ent.url}>"<{$ent.alt}> target="_black"><{$ent.title}></a> (<{$ent.nref}>)</li>
  <{/foreach}>
</ul>
<{if $block.perm}>
<div><{$block.rest}></div>
<div style="text-align: right">
  <{if $block.perm>1}>[ <a href="<{$block.more|replace:"/index.php?id":"/admin/index.php?op=edit&amp;tid"}>"><{$smarty.const._EDIT}></a> ] <{/if}>
  <{if $block.perm&1}><a href="<{$block.more}>"><{$smarty.const._MB_REFPAGE_MORE}></a><{/if}>
</div>
<{/if}>
<{else}>
<div><{$smarty.const._MB_REFPAGE_NONE}></div>
<{/if}>
