<{if $xoops_breadcrumbs}>
    <!-- show xoops_breadcrumbs -->
  <p class="rp_title">
  <{foreach from=$xoops_breadcrumbs item=crumb name=bread}>
    <{if !empty($crumb.url)}>
      <a href="<{$crumb.url}>"><{$crumb.name}></a>
    <{else}>
      <b><{$crumb.name}></b>
    <{/if}>
  <{if !$smarty.foreach.bread.last}>&nbsp;&gt;&nbsp;<{/if}>
  <{/foreach}>
  </p>
<{/if}>
<{$page_control}>
  <table border="0" cellspacing="1" cellpadding="3" class="outer" width="100%">
  <{foreach item=ref from=$referers}>
    <tr class="<{cycle values="even, odd"}>">
      <td class="trackitem">
	<{$ref.seq}>.
	<a href="<{$ref.ref_url}>"$alt $attr class="trtitle"><{$ref.title}></a>
	<{if !empty($ref.track_uri)}><{$smarty.const._TB_LINKTO}> <a href="<{$ref.track_uri}>"><{$ref.linkto}></a><{/if}>
	<div class="trtext"><{if $ref.context}><{$smarty.const._TB_LEADER}><{$ref.context}><{$smarty.const._TB_LEADER}><{/if}></div>
	<div class="trinfo">
	<{$smarty.const._TB_REF_COUNT}>:<{$ref.nref}>
	    [<{$smarty.const._TB_REF_CDATE}> <{$ref.cdate}>]
	    <{if $ref.mtime>60}>[<{$smarty.const._TB_REF_MDATE}> <{$ref.mdate}>]<{/if}><br/>
	<{$smarty.const._TB_REF_URL}>
	 <a href="<{$ref.ref_url}>"><{$ref.ref_url|escape}></a></div>
	<{if !empty($ref.refs)}>
	  <div class="trinfo">
	    <{$smarty.const._TB_REF_NURL}>: <{$ref.n}>
	    <{foreach from=$ref.refs key=i item=v}>
	      <a href="<{$v}>">[<{$ref.refn[$i]}>]</a> 
	    <{/foreach}>
	  </div>
	<{/if}>
      </td>
    </tr>
  <{/foreach}>
  </table>
<{$page_control}>
